.back-login-form {
  display: flex;
  background: #4e5d43;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://i.pinimg.com/originals/1f/32/de/1f32de75ae0a1ac218a902f6f361a6d7.jpg");
}

.login-form {
  flex-direction: column;
  display: flex;
  min-width: 30%;
  background-color: rgba(140, 140, 166, 0.41);

}

.form-input {
  margin-top: 5pt;
  margin-bottom: 5pt;
}

.info_footer{
  border: 1px dashed #ccc;
  background-color: #f4f4ff;
  word-wrap: break-word;
  overflow: hidden;
  padding: 10pt;
  min-width: 30%;
}

