.login{
  padding: .5em 1em;
  border: 1px dashed #ccc;
  width: 50%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

  background-color: #f4f4ff;
  word-wrap:break-word;
}
