<div class="container">
<div class="table-responsive">
<table class="table table-striped table-bordered border-dark">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Имя жанра</th>
    <th class="col-md-1" scope="col">Изменить</th>
    <th class="col-md-1" scope="col">Удалить</th>
  </tr>
  </thead>
  <tbody *ngFor="let item of genre; index as i">
  <tr>
    <th scope="row">{{item.bookGenresId}}</th>
    <td *ngIf="enableEditIndex!=i">{{item.genresName}}</td>
    <td *ngIf="enableEditIndex==i" class="active" contenteditable="true">
      <input  type="text" class="form-control" placeholder="{{item.genresName}}" [(ngModel)]="updateGenre.genresName">
    </td>
    <td *ngIf="enableEditIndex!=i" class="col-md-1 edit" (click)="enableEditMethod($event, i)">Изменить</td>
    <td *ngIf="enableEditIndex==i" class="col-md-1 cancel" (click)="cancel()">Отменить</td>
    <td  (click)="idClickGenre(item.bookGenresId)" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="enableEditIndex!=i" class="col-md-1 delete" >Удалить</td>
    <td *ngIf="enableEditIndex==i" class="col-md-1 save" (click)="saveEditGenre(item.bookGenresId)">Сохранить</td>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Подтвердить удаление?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <div class="alert alert-warning">
             <li>Невозможно удалить жанр если есть книга с текущем жанром</li>
             <li> Удаленный жанр невозможно восстановить</li>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
            <button *ngIf="enableEditIndex!=i" (click)="deleteGenre(idGenre)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Подтвердить удаление</button>
          </div>
        </div>
      </div>
    </div>
  </tr>
  <tbody>
  <tr>
    <th>auto</th>
    <td>
      <input type="text" class="form-control" placeholder="Название жанра" [(ngModel)]="genreName">
    </td>
    <th colspan="2" class="col-md-1 save" (click)="addGenre()">Добавить</th>
  </tr>
  </tbody>
</table>
</div>

 <div *ngIf="help"> {{response}} <button *ngIf="!errorDataBase" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-info"> Какой формат верный?</button>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Информация</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <li>Жанр может содержать одно или два слова</li>
            <li>Не допустим ввод цифр и спецсимволов</li>
            <li>Допустим один пробел между словами</li>
            <div class="alert alert-success"> Разрешено
              <li> Военный роман </li>
              <li> Приключения </li>
            </div>
            <div class="alert alert-danger"> Запрещено
              <li> R0man </li>
              <li> При-клю-чения </li>
              <li> 111100101 </li>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Понятно</button>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

