
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">

    </div>
    <!-- Left -->

  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Library
          </h6>
<!--          <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ea enim excepturi expedita magni maiores, maxime nam omnis placeat, quidem, quis sequi tempore totam velit.-->
<!--          </p>-->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Общее
          </h6>

          <p>
            <a href="#!" class="text-reset">Главная</a>
          </p>
          <p>
            <a href="#" class="text-reset">Пользовательское соглашение</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Полезные ссылки
          </h6>
          <p>
            <a routerLink="/books-list" href="#" class="text-reset">Книги</a>
          </p>
          <p>
            <a routerLink="/authors" href="#" class="text-reset">Авторы</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Контакты
          </h6>
          <p><i class="fas fa-home me-3"></i> Россия, Воронеж, RU. Андрей Агеев</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            admin@library.ru
          </p>
          <p><i class="fas fa-phone me-3"></i> + 7 920 409 41-88</p>
          <p><i class="fas fa-print me-3"></i> + 7 950 000 55-00</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="/index">Library</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
