<div class="books_parent">
  <div *ngFor="let item of book">
    <div class="books_child">
      <p>Название: {{item.bookTitle}}</p>
      <p>Жанр: {{item.genreName}}</p>
      <p>Дата выхода: {{item.bookReleaseDate}}</p>
<!--      <p>{{item.}}</p>-->
      <p>Серия: {{item.seriesName}}</p>
      <p>Перевод: {{item.translationName}}</p>
      <p>Страниц: {{item.numberPages}}</p>
      <button>Подробнее</button>
    </div>
  </div>
</div>


<p>books works!</p>
<button (click)="getAllBook()"> get all</button>

<!--<div class="">-->
<!--  <ul class="list-group">-->
<!--    <li *ngFor="let books of book ">-->

<!--      <h3>{{books.bookTitle}}</h3>-->
<!--      <h3>{{books}}</h3>-->


<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
