.books_parent {
  background: #F8F9FA;
}
.page-link {
  cursor: pointer;
}

.numberPages {
  height: auto;
  width: 100%;
}


.search {
  display: flex;
  width: 50%;
  margin-right: 10pt;
  margin-top: 10pt;
}


.card {
  margin: 5pt;
  width: 15rem;
}

.card-customGroup {
  padding-top: 20pt;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

}

.button-info {
  margin-top: 10pt;
  width: 100%;
  margin-bottom: 10pt;
}


