<div class="center">



  <div *ngIf="isDataLoaded" class="bordered">
    <thead>
    <tr>
      <th>id</th>
      <th>Дата выдачи</th>

      <th>Выдано:</th>
      <th>Книга: </th>
      <th>Плата: </th>
      <th>Стоимость на сегодня</th>
      <th>Кому выдана: </th>
      <th>Вернуть в библиотеку</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of rent">
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.dateIssue}}</td>

      <td>{{item.employeeName}}</td>
      <td>{{item.bookName}}</td>
      <td>{{item.priceName}}</td>
      <td>{{summaPriceToday(item.dateIssue,item.priceName)}}</td>
      <td>{{item.userName}}</td>
      <td><button (click)="deleteRent(item.id)">Вернуть</button></td>

    </tr>

    </tbody>
  </div>
</div>
