<div class="center">



  <div *ngIf="isDataLoaded" class="bordered">
    <thead>
    <tr>
      <th>id</th>
      <th>Дата выдачи</th>

      <th>Выдано:</th>
      <th>Книга: </th>
      <th>Плата: </th>
      <th>Стоимость на сегодня</th>
      <th>Кому выдана: </th>
      <th>Вернуть в библиотеку</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of rent">
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.dateIssue}}</td>

      <td>{{item.employeeName}}</td>
      <td>{{item.bookName}}</td>
      <td>{{item.priceName}}</td>
      <td>{{summaPriceToday(item.dateIssue,item.priceName)}}</td>
      <td>{{item.userName}}</td>
      <td>

        <button type="button" class="btn btn-primary" (click)="saveObjDeleteRent(item)" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Вернуть
        </button>
      </td>

    </tr>

    </tbody>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Подтверждение возврата</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <h5>Взять аренду: {{summaPriceToday(deleteRentObj.dateIssue, deleteRentObj.priceName)}}</h5>
        <hr>
     <h5>  Книга возврата: {{deleteRentObj.bookName}}</h5>
        <hr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
        <button type="button"  data-bs-dismiss="modal" (click)="deleteRent()" class="btn btn-primary">Ок</button>
      </div>
    </div>
  </div>
</div>
