<p> На данный момент работает:</p>
<li>Регистрация</li>
<li>Авторизация</li>
<li>Книги</li>
<li>Выход</li>
<li>Меню работника -> Добавить книгу</li>
<li>Меню работника -> Добавить автора</li>
<li>Промокоды</li>
<li>Меню работника -> Жанры</li>
<li>Меню работника -> Издательство</li>
<li>Меню работника -> Возрастные ограничения</li>
<li>Меню работника -> Вид обложки</li>
<li>Меню работника -> Перевод книг</li>
<li>Меню работника -> Язык издания</li>
<li>Меню администратора -> Список пользователей</li>
