
<div class="flexContainerCenter" >
  <h4 style="text-align: center;">Новинки!</h4>
</div>
<div class="card-customGroup">
  <div *ngFor="let item of newBook" class="card">
    <img src="{{item.imageSrcTemp}}"
         style=" padding:5pt; height: 13rem; width: auto" class="card-img-top" alt="...">
    <p title="Осталось всего: {{item.countBooks}} шт" *ngIf="item.countBooks!=0 && !item.myBooksRent" class="countBooks">{{item.countBooks}}</p>
    <mat-icon title="Новинка!" class="newBookIcon">fiber_new</mat-icon>
    <div class="card-body">
      <h5 class="card-title">
        <p style="height: 2rem"> {{item.bookTitle}}</p>
      </h5>
      <p class="card-text">{{item.authorsFullName}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Жанр: {{item.genreName}}</li>
      <li class="list-group-item">Страниц: {{item.numberPages}}</li>
      <li class="list-group-item">Издательство: {{item.publisherName}}</li>
      <li class="list-group-item">Стоимость аренды: {{item.priceName}}</li>
    </ul>
  </div>
</div>

<div class="flexContainerCenter" style="margin-top: 20pt" >
  <h4 style="text-align: center;">Популярные!</h4>
</div>
<div class="card-customGroup">
  <div *ngFor="let item of maxRent" class="card">
    <img src="{{item.imageSrcTemp}}"
         style=" padding:5pt; height: 13rem; width: auto" class="card-img-top" alt="...">
    <p title="Осталось всего: {{item.countBooks}} шт" *ngIf="item.countBooks!=0 && !item.myBooksRent" class="countBooks">{{item.countBooks}}</p>
    <div class="card-body">
      <h5 class="card-title">
        <p style="height: 2rem"> {{item.bookTitle}}</p>
      </h5>
      <p class="card-text">{{item.authorsFullName}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Жанр: {{item.genreName}}</li>
      <li class="list-group-item">Страниц: {{item.numberPages}}</li>
      <li class="list-group-item">Издательство: {{item.publisherName}}</li>
      <li class="list-group-item">Стоимость аренды: {{item.priceName}}</li>
    </ul>
  </div>
</div>


